:root {
  --color-green: #84A59D;
  --color-red: #F28482;
  --color-yellow: #F6BD60;
  --color-white: #ffffff;

  --color-page-background: var(--color-green);
  --color-text: var(--color-white);

  --color-page-home-circle: var(--color-red);
}
